/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
/* shared style */
p{
    font-size:0.75rem;
    color:#534C64;
}
.goat,.funny-videos,.play-instantly{
    color:transparent;
    background-image:linear-gradient(to bottom,#F948B2,#8758F1);
    background-clip: text;
    -webkit-background-clip: text;
}
/* ---header style--- */
/* nav-bar style */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 15%;
    /* background-color:aquamarine; */
}
.nav-left,.footer-logo{  /*shared*/
    display: flex;
    gap: 10px;
    align-items: center;
  
}
.nav-left h2,.footer-logo h2{  /*shared*/
    font-size: 1.7rem;
}
.nav-left img,.footer-logo img{  /*shared*/
    width: 50px;
    height: 24px;
}
.g-style{
    color:#FF42A4;
}
.fa-youtube{
    color:red;
}
.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 0.9rem;
}
.nav-right ul a{

    text-decoration: none;
}
.follow-us-on{
    background-color:rgba(11, 2, 35, 0.10);
    padding: 10px;
    border-radius: 8px;
}

/* banner style */
.banner{
    background-image: url('../images/Group\ 14.png');
    background-size: 45% ;
    background-repeat: no-repeat;
   
}
.banner-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width:70%;
    margin: auto;
    padding-top: 30px;
    

}
.banner-texts{
    width:70%;
    margin: auto;
    padding-right: 100px;
}
.banner-texts i{
    padding-right: 4px;
    color:#F948B2;
}
.play-like-the{
    font-size: 2.2rem;
    font-weight: 500;
    color:black;
}
.goat{
    font-size: 4rem;
    font-weight: 900;
}
.banner-texts li{
    list-style: none;
    margin-top: 10px;
    font-size: 0.9rem;
}
.btn-primary{
    
    color:white;
    background-color: #FF42A4;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    margin-right: 12px;
    margin-top: 30px;
}
.aqua-btn{
    background-color: #4EC5F7;
}
.banner-img img{
    width:100%;
    margin: auto;
}

/* main section style */
/* oniline games section */
.online-games{
    margin: 100px auto;
}
.online-games-title{
    text-align: center;
    margin-bottom: 30px;
}
.online-games-title p{
    margin-top: 10px;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cards-container img, .cards-container p{
    width: 220px;
}
.special-img:hover{
      border:3px solid black;
      border-radius: 10px;
    
}

/* play instantly section */
.play-section-container{
    display: flex;
    align-items: center;
    gap:10%;
    width:80%;
    margin:auto;
}
.play-section-texts{
    text-align: right;
    width:60%;
    margin-left: auto;
    padding-right: 10%;
}
.play-section-texts p{
   margin-top: 5%;
   margin-left: 30%;
   line-height: 22px;
}
.play-title{
    font-size: 2rem;
}
.play-section-img{
    width:70%;
    margin: auto;
    position: relative;
}
.play-section-img .first-img{
    width:100%;
    
}
.play-section-img .second-img{
    width:50%;
    position: absolute;
    top: 60%;
    right:75%;
}

/* last section style */
.last-section{
  margin-top: 10% ;

  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.option-container{
    padding: 80px 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}
.option{
    display: flex;
    align-items: center;
    gap:10px;
    padding:7px 5px;
    background-color: white;
    border-radius: 40px;
}
.option h5{
    font-size: 0.8rem;
}
.option img{
    width:20%;
}
.option:hover{
    border:1.5px solid #FF42A4;
    color:#FF42A4;
}

/* footer style */
footer{
    background-color: #0B0223;
    min-height: 200px;
}

.footer-logo{
    padding-top:7%;
    padding-bottom: 3.5%;
    justify-content: center;
}
.footer-logo h2{
    color:white;
}
footer h6{
    color:rgb(225, 217, 217);
}
.footer-items{
    display: flex;
    justify-content: center;
    gap:3.5%;
}
.icons-container{
    display: flex;
    justify-content: center;
    gap:3%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.icons-container .fa-brands{
    color:white;
    font-size: 1.5rem;
}
.paragraphs{
    display: flex;
    justify-content: center;
    gap:3%;
}
.paragraphs p,.last-line{
    color:#c4c0ce;
    font-size: 0.6rem;
}
.last-line{
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 8%;
}
