/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
/* shared style */
p{
    font-size:0.75rem;
    color:#534C64;
}
/* ---header style--- */
/* nav-bar style */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 15%;
    /* background-color:aquamarine; */
}
.nav-left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-left h2{
    font-size: 2rem;
}
.nav-left img{
    width: 50px;
    height: 30px;
}
.g-style{
    color:#FF42A4;
}
.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 0.9rem;
}
.nav-right ul a{

    text-decoration: none;
}
.follow-us-on{
    background-color:rgba(11, 2, 35, 0.10);
    padding: 10px;
    border-radius: 8px;
}

/* banner style */
.banner{
    background-image: url('../images/Group\ 14.png');
    background-size: 45% ;
    background-repeat: no-repeat;
   
}
.banner-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width:70%;
    margin: auto;
    padding-top: 30px;
    

}
.banner-texts{
    width:70%;
    margin: auto;
    padding-right: 100px;
}
.play-like-the{
    font-size: 2.2rem;
    font-weight: 600;
}
.goat{
    font-size: 4rem;
    font-weight: 900;
}
.banner-texts li{
    list-style: none;
    margin-top: 10px;
    font-size: 0.9rem;
}
.btn-primary{
    
    color:white;
    background-color: #FF42A4;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    margin-right: 12px;
    margin-top: 30px;
}
.aqua-btn{
    background-color: #4EC5F7;
}
.banner-img img{
    width:100%;
    margin: auto;
}

/* main section style */
.online-games{
    margin: 100px auto;
}
.online-games-title{
    text-align: center;
    margin-bottom: 30px;
}
.online-games-title p{
    margin-top: 10px;
}
.cards-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cards-container img, .cards-container p{
    width: 220px;
}